

.moodify {
    color: #1db954;
    font-size: 5rem;
}

.background {
  background-color: black;
  color: white;
  font: Helvitica, cursive, sans-serif;
}

.songs {
  background-color: black;
}

.callout.primary {
    background-color: #191414;
}

.top-bar {
    background-color: black;
}

.description {
  color: white;
  font-size: 1.5rem;
  padding-top: 3%;
  text-align: center;
}

.emphasis_box {
    background-color: #545355;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
}

.borders {
    border-right: 3px solid #404040;
    border-left: 3px solid #404040;
}

#harness {
    color: #ffffff;
    font-size: 250%;

}

#landing {
    position: relative;
    width: 100%; /* for IE 6 */
    height: 825px;
    z-index: 1000;
    background: url('/static/img/mixtables.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.show_all {
  color: #1db954;
  font-size: 45pt;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    height: 50%;
    margin-right: -50%;
    transform: translate(-50%, -25%);
    line-height: 45pt;
}

#start {
  color: #65869a;
  font-size: 4rem;
  text-align: center;
}

.nav {
  color: #1db954;
  font-size: 30pt;
}

.item {

}

label, select {
    color: inherit;
    font: inherit;
}

select, input {
    background-color: #42464c;
    border: none;
}

label {
    text-transform: capitalize;
}

h2 {
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    font: 50px Helvetica;
}
h2 span {
    color: whitesmoke;
    font: bold 100px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10%;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 40px;
    color: #1db954;
    text-align: center;
}

h3 {
    font-size: 25px;
    color: #1db954;
    text-align: center;
}

button {

}

.list-item {
  color: white;
  font-size: 14pt;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}
