

.moodify {
    color: #1db954;

}

.callout.primary {
    background-color: #191414;
}

.top-bar {
    background-color: #303036;
}

#harness {
    color: #ffffff;
    font-size: 250%;

}

h1 {
    font-size: 40px;
    color: #da3116;
    text-align: center;
}