

.moodify {
    color: #1db954;

}

.callout.primary {
    background-color: #191414;
}

.top-bar {
    background-color: #303036;
}

#harness {
    color: #ffffff;
    font-size: 250%;

}

#landing {
    position: relative;
    width: 100%; /* for IE 6 */
    height: 825px;
    z-index: 1000;
    background: url('/static/mixtables.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.item {

}
h2 {
    position: absolute;
    top: 150px;
    text-align: center;
    width: 100%;
    font: 50px Helvetica;
}
h2 span {
    color: whitesmoke;
    font: bold 100px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10%;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 40px;
    color: #da3116;
    text-align: center;
}

.list-item {

}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}
