<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Moodify </title>
    <link rel="stylesheet" href="static/foundation.min.css" />
    <link rel="stylesheet" href="static/app.css" />
</head>
<body>

<div id="app">

    <div id="landing">
        <h2><span>Revolutionize Your Listening Experience</span></h2>
    </div>


    <div class="row expanded songs">
        <div class="small-4 columns">
            <h1> 1 </h1>
            <button v-on:click="switch_display_playlist" id="show_all">Show All</button>
            <transition-group name="list" tag="ul">
                  <li v-for="item in display_playlists[0]" class="list-item" :key="item">
                      {{ item.track_name }}
                  </li>
            </transition-group>
        </div>
        <div class="small-4 columns">
            <h1> 2 </h1>
            <ul>
                <li v-for="item in shortened_playlists[1]" class="list-item">
                    {{ item.track_name }}
                </li>
            </ul>
        </div>
        <div class="small-4 columns">
            <h1> 3 </h1>
            <ul>
                <li v-for="item in shortened_playlists[3]">
                    {{ item.track_name }}
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/static/vue.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/foundation.min.js"></script>
<script src="/static/app.js"></script>
</body>
</html>
