<!DOCTYPE html>
{% raw %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Moodify </title>
    <link rel="stylesheet" href="static/foundation.min.css" />
    <link rel="stylesheet" href="static/app.css" />
</head>
<body>

<div id="app">

    <div id="landing">
        <h2><span>Revolutionize Your Listening Experience</span></h2>
    </div>


    <div class="row expanded songs">
        <div class="row expanded">
            <div class="small-4 columns">
              <button class="nav" v-on:click="decrement_display_playlists()"> Backwards </button>
            </div>
            <div class="small-4 columns emphasis_box">
                <button v-on:click="switch_show_all" class="show_all">Show All</button>
            </div>
            <div class="small-4 columns">
              <button v-on:click="increment_display_playlists()" class="nav" style="float: right;">Forward</button>
            </div>
        </div>
        <div class="small-4 columns playlist_format">
            <h1>
                {{parseInt(playlist_names[curr_playlist_index]) + 1}} <h3><button v-on:click="save_playlist(curr_playlist_index)">Save This Playlist</button></h3>
            </h1>
            <transition-group name="list" tag="ul">
                  <li v-for="item in display_playlists[0]" class="list-item" :key="item.track_id">
                      {{ item.track_name }}
                  </li>
            </transition-group>
        </div>
        <div class="small-4 columns playlist_format borders">
          <h1>
              {{parseInt(playlist_names[curr_playlist_index + 1]) + 1}} <h3><button v-on:click="save_playlist(curr_playlist_index + 1)">Save This Playlist</button></h3>
          </h1>
          <transition-group name="list" tag="ul">
                <li v-for="item in display_playlists[1]" class="list-item" :key="item.track_id">
                    {{ item.track_name }}
                </li>
          </transition-group>
        </div>
        <div class="small-4 columns playlist_format">
          <h1>
              {{parseInt(playlist_names[curr_playlist_index + 2]) + 1}} <h3><button v-on:click="save_playlist(curr_playlist_index + 2)">Save This Playlist</button></h3>
          </h1>
          <transition-group name="list" tag="ul">
                <li v-for="item in display_playlists[2]" class="list-item" :key="item.track_id">
                    {{ item.track_name }}
                </li>
          </transition-group>
        </div>
    </div>
</div>
<script src="/static/vue.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/foundation.min.js"></script>
<script>
{% endraw %}
  user_name = '{{uid}}'
</script>
<script src="/static/app.js"></script>
</body>
</html>
