<!DOCTYPE html>
{% raw %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Moodify </title>
    <link rel="stylesheet" href="static/foundation.min.css" />
    <link rel="stylesheet" href="static/app.css" />
</head>
<body>

<div id="app">

    <div id="landing">
        <h2><span>Revolutionize Your Listening Experience</span></h2>
    </div>

    <input v-model="message">
    <h4>{{message}}</h4>
    asdfasdf

</div>
<script src="/static/vue.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/foundation.min.js"></script>
<script>
{% endraw %}
  user_name = '{{uid}}'
</script>
<script src="/static/app.js"></script>
</body>
</html>
